<div class="new-session-div">
    <form {{action 'addSession' on='submit'}} class = "form-horizontal">
      <div class="border-show">

        <label class="col-sm-3 control-label">Session Date<span class="red-asteriks">*</span></label>
        <div class="col-sm-9 pad-5">
          {{input required='required' placeholder='New session' value=session.session_date type="date"}}
        </div>

        <label class="col-sm-3 control-label">Select Program<span class="red-asteriks">*</span></label>
        <div class="col-sm-9 pad-5">
          <select required='required' onchange={{ action 'setProgram' value=target.value }} class="form-control" value=session.program>
            <option value="">Please select</option>
            <option value="470w">470w</option>
            <option value="470m">470m</option>
            <option value="49er">49er</option>
            <option value="49erfx">49er FX</option>
            <option value="laser">laser</option>
            <option value="laserradial">Laser Radial</option>
            <option value="finn">Finn</option>
            <option value="nacr">Nacra</option>
          </select>
        </div>

        <label class="col-sm-3 control-label">Session Rating<span class="red-asteriks">*</span></label>
        {{!-- <div class="col-sm-9 pad-5" onchange={{ action 'setRating' value=target.value}} value=session.session_rating>
          <input type="radio" id="radioButton1" name="session_rating" value="1"><label for="radioButton1" class="pad-5">1</label>
          <input type="radio" id="radioButton2" name="session_rating" value="2"><label for="radioButton2" class="pad-5">2</label>
          <input type="radio" id="radioButton3" name="session_rating" value="3"><label for="radioButton3" class="pad-5">3</label>
          <input type="radio" id="radioButton4" name="session_rating" value="4"><label for="radioButton4" class="pad-5">4</label>
          <input type="radio" id="radioButton5" name="session_rating" value="5"><label for="radioButton5" class="pad-5">5</label>
        </div> --}}
        <div class="col-sm-9 pad-5">
          <select required='required' onchange={{ action 'setRating' value=target.value }} class="form-control" value=session.session_rating>
            <option value="">Please select</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>


        <label for="helm" class="col-sm-3 control-label">Helm<span class="red-asteriks">*</span></label>
        <div class="col-sm-9 pad-5">
          {{input required='required' placeholder='Helm' value=session.helm type="text"}}
          {{!-- <input type="text" name="boat[name]" class="form-control" placeholder="Helm Name"> --}}
        </div>

        <label for="crew" class="col-sm-3 control-label">Crew</label>
        <div class="col-sm-9 pad-5">
          {{input placeholder='Crew' value=session.crew type="text"}}
          {{!-- <input type="text" name="boat[name]" class="form-control" placeholder="Crew Name"> --}}
        </div>

        <label for="wind_dir" class="col-sm-3 control-label">Wind Direction</label>
        <div class="col-sm-9 pad-5">
          {{input placeholder='Wind Direction' value=session.wind_dir type="text"}}
          {{!-- <input type="text" name="boat[name]" class="form-control" placeholder="Wind Direction"> --}}
        </div>

        <label for="wind_strength" class="col-sm-3 control-label">Wind Strength</label>
        <div class="col-sm-9 pad-5">
          {{input placeholder='Wind Strength' value=session.wind_strength type="number"}}
          {{!-- <input type="text" name="boat[name]" class="form-control" placeholder="Wind Strength"> --}}
        </div>

        <label for="chop" class="col-sm-3 control-label">Chop</label>
        <div class="col-sm-9 pad-5">
          {{input placeholder='Chop' value=session.chop type="text"}}
          {{!-- <input type="text" name="boat[name]" class="form-control" placeholder="Chop"> --}}
        </div>

        <label for="objective_1" class="col-sm-3 control-label">Objective 1<span class="red-asteriks">*</span></label>
        <div class="col-sm-9 pad-5">
          {{input required='required' placeholder='Objective 1' value=session.objective_1 type="text"}}
          {{!-- <input type="text" name="boat[name]" class="form-control" placeholder="Objective 1"> --}}
        </div>

        <label for="objective_2" class="col-sm-3 control-label">Objective 2</label>
        <div class="col-sm-9 pad-5">
          {{input placeholder='Objective 2' value=session.objective_2 type="text"}}
          {{!-- <input type="text" name="boat[name]" class="form-control" placeholder="Objective 2"> --}}
        </div>

        <label for="objective_3" class="col-sm-3 control-label">Objective 3</label>
        <div class="col-sm-9 pad-5">
          {{input placeholder='Objective 3' value=session.objective_3 type="text"}}
          {{!-- <input type="text" name="boat[name]" class="form-control" placeholder="Objective 3"> --}}
        </div>

        <label for="objective_4" class="col-sm-3 control-label">Objective 4</label>
        <div class="col-sm-9 pad-5">
          {{input placeholder='Objective 4' value=session.objective_4 type="text"}}
          {{!-- <input type="text" name="boat[name]" class="form-control" placeholder="Objective 4"> --}}
        </div>

        <label for="objective_5" class="col-sm-3 control-label">Objective 5</label>
        <div class="col-sm-9 pad-5">
          {{input placeholder='Objective 5' value=session.objective_5 type="text"}}
          {{!-- <input type="text" name="boat[name]" class="form-control" placeholder="Objective 5"> --}}
        </div>

        <label for="session report" class="col-sm-3 control-label">Session report<span class="red-asteriks">*</span></label>
        <div class="col-sm-9 pad-5">
          {{tinymce-editor options=options value=text onValueChanged=(action "setSessionReport" value=target.value)}}
          {{!-- <textarea rows="6" required='required' class="col-sm-12 pad-5" placeholder="Text here" onchange={{ action 'setSessionReport' value=target.value }} placeholder="Session Report"></textarea> --}}
        </div>

        <label class="col-sm-3 control-label">Boat Maintenance<span class="red-asteriks">*</span></label>
        <div class="col-sm-9 pad-5" onchange={{ action 'setBoatMaint' value=target.value}} value=session.session_rating>
          <input type="radio" id="radioButton1" name="boat_maint" value="true"><label for="radioButton1" class="pad-5">Yes</label>
          <input type="radio" id="radioButton2" name="boat_maint" value="false"><label for="radioButton2" class="pad-5">No</label>
        </div>

        <label class="col-sm-3 control-label">Boat Maintenance report</label>
        <div class="col-sm-9 pad-5">
          {{tinymce-editor options=options value=text onValueChanged=(action "setBoatMaintReport" value=target.value)}}
          {{!-- <textarea rows="6" class="col-sm-12 pad-5" placeholder="Text here" onchange={{ action 'setBoatMaintReport' value=target.value }} placeholder="Boat Maintenance Report"></textarea> --}}
        </div>

        <button class="btn btn-primary submit-new-session pad-5" type="submit">Create new session</button>
      </div>
    </form>
</div>
