<div class="view-old-sessions">
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th>Program</th>
        <th>Date</th>
        <th>Rating</th>
        <th>Helm</th>
        <th>Delete?</th>
      </tr>
    </thead>
    <tbody>

    {{#each model as |session|}}

      <tr>
        <td>{{#link-to 'session' session}}{{session.program}}{{/link-to}}</td>
        <td>{{session.session_date}}</td>
        <td>{{session.session_rating}}</td>
        <td>{{session.helm}}</td>
        {{#if session.editable}}
        <td>{{delete-modal session=session
                        confirmDelete='confirmDelete'}}</td>
        {{else}}
        <td>No permission</td>
        {{/if}}
      </tr>
    {{/each}}
  </tbody>
  </table>
</div>

{{!-- {{#bs-modal open=modal3 onSubmit=(action "confirmDelete" session) onHidden=(action (mut modal3) false) as |modal|}}
  {{#modal.header}}
    <h4 class="modal-title">
      Custom Dialog
      <div class="badge">2</div>
    </h4>
  {{/modal.header}}
  {{#modal.body}}
    <input type="text" autofocus="autofocus">
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button onClick=(action modal.close)}}Cancel{{/bs-button}}
    {{#bs-button type="danger"}}Delete{{/bs-button}}
    {{#bs-button type="success" onClick=(action modal.submit)}}Save{{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}} --}}

{{!-- {{#bs-modal open=modal1  as |modal|}}
  {{#modal.header}}
    <h4 class="modal-title"><i class="glyphicon glyphicon-alert"></i> Alert</h4>
  {{/modal.header}}
  {{#modal.body}}Are you absolutely sure you want to do that???{{/modal.body}}
  {{#modal.footer as |footer|}}
    {{#bs-button onClick=(action modal.close) type="danger"}}Oh no, forget it!{{/bs-button}}
    {{#bs-button onClick=(action modal.submit) type="success"}}Yeah!{{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}} --}}
{{!--
{{#bs-modal open=modal3 onSubmit=(action "confirmDelete") onHidden=(action (mut modal3) false) as |modal|}}
  {{#modal.header}}
    <h4 class="modal-title">
      Delete session
    </h4>
  {{/modal.header}}
  {{#modal.body}}
    Are you sure you want to delete this session?
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button onClick=(action modal.close)}}Cancel{{/bs-button}}
    {{#bs-button class='btn btn-primary' type="submit"}}Delete{{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}} --}}
